{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/index.css' %}">
  </head>

  <body>
    <h1>Sample To Do Application</h1>
    <p>You can submit tasks from the following form.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div class="sub">
      <div>
        <label for="titleInput">Title</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title">
      </div>
      <div>
        <label for="dueInput">Due at:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
      <div>
        <label for="genreInput">Genre:</label><br>
        <select id="genreInput" name="genre">
          <option value="report">Report</option>
          <option value="program">Program</option>
          <option value="other" selected>Other</option>
        </select>
      </div>
      </div>
    </form>
    <br>

    <div>
      <a href="{% url 'index' %}?order=due">Sort by Due Date</a> |
      <a href="{% url 'index' %}?order=post">Sort by Posted Date</a>
    </div>

    {% for task in tasks %}
    <div class="text">
      <h2 class="ass"><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>Posted at: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li>Due at: {{ task.due_at }}</li>
        {% endif %}
        {% if task.completed %} 
        <li>Status: Completed</li>
        {% else %}
        <li>Status: Not Completed</li>
        {% endif %}
        <li>Genre: {{ task.get_genre_display }}</li>
        <li><a href="{% url 'toggle_favorite' task.id %}">fav</a></li>
        <form method="post" action="{% url 'index' %}">
          {% csrf_token %}
          <input type="hidden" name="like" value="{{ task.id }}">
          <button type="submit">👍</button>
        </form>
        <p>{{ task.likes_count }} いいね</p>
      </ul>
    </div>
    {% endfor %}

    <p>----------------------------------------</p>

    <h2 class="book">ブックマーク</h2>
    {% for task in favorite_tasks %}
    <div class="text">
        <h2 class="ass"><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
        <ul>
            <li>Posted at: {{ task.posted_at }}</li>
            {% if task.due_at %} 
            <li>Due at: {{ task.due_at }}</li>
            {% endif %}
            {% if task.completed %} 
            <li>Status: Completed</li>
            {% else %}
            <li>Status: Not Completed</li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}
  </body>

</html>